
body {
    background-color: #eae6df;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    overflow: hidden;
}

.chat-container {
    width: 100%;
    height: 100vh;
    display: flex;
}

/* Left Sidebar */
.sidebar {
    background-color: #fff;
    width: 30%;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

/*.sidebar-header {*/
/*    background-color: #4dc596;*/
/*    padding: 15px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    border-bottom: 1px solid #ddd;*/
/*}*/

.chat-list {
    flex: 1;
    overflow-y: auto;
}

.chat-item {
    padding: 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
}

.chat-item:hover {
    background-color: #f0f0f0;
}

.chat-item img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
}

.chat-info h6 {
    margin: 0;
    font-size: 16px;
}

.chat-info small {
    color: gray;
}

/* Chat Area */
.chat-area {
    background-color: #efeae2;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: #f0f2f5;
    padding: 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.chat-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    background-size: cover;
}

.message {
    margin-bottom: 15px;
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 10px;
    display: inline-block;
}

.sent {
    background-color: #d9fdd3;
    align-self: flex-end;
}

.received {
    background-color: #fff;
    align-self: flex-start;
}

.chat-input {
    background-color: #f0f2f5;
    padding: 10px;
    display: flex;
    align-items: center;
}

.chat-input input {
    flex: 1;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px 15px;
    margin-right: 10px;
}

.chat-input button {
    border: none;
    background-color: #0b8457;
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
}
.sidebar-header {
    background-color: #f0f0f0; /* light gray like WhatsApp sidebar */
}

#searchInput {
    border: 1px solid #ccc;
    font-size: 0.9rem;
    transition: all 0.2s ease-in-out;
    width: 60%;
}

#searchInput:focus {
    border-color: #128c7e;
    box-shadow: 0 0 5px rgba(18, 140, 126, 0.5);
    outline: none;
    width: 100%;
}

.bi-three-dots-vertical {
    cursor: pointer;
}

h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 .search-item:hover {
     background-color: #f1f1f1;
 }

